body{
    background: url("https://upload.wikimedia.org/wikipedia/commons/1/17/Hiroshima-Hondori_Shopping_Street_at_dusk_4.jpg");
    background-position: cover;
    background-attachment: fixed;
    position: relative;
}

h1 {
    color: midnightblue;
}
img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    margin: auto;
}

#spanId {
    font-size: 18px;
    margin: 50px;
    padding: 50px;
    border: 2px goldenrod solid;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.divClass {
	display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

li {
list-style-type: none;
text-align: center;
}

ul {
    padding: 0;
}